<hr>
<hr>
<hr>
<hr>

<ion-content color="medium">

  <hr>

  <div style="text-align: center; font-size: 16px;">
    <h3>Seleccione el tipo de fotos</h3>
  </div>

  <hr>
  <hr>

  <ion-card color="medium" (click)="syncFotos()">
    <ion-card-header>
      <ion-icon color="light" name="image-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content color="dark">
      <h3>Enviar fotos acciones</h3>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" (click)="syncFotosServicios()">
    <ion-card-header>
      <ion-icon color="light" name="warning-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content color="dark">
      <h3>Enviar fotos servicios públicos</h3>
    </ion-card-content>
  </ion-card>

  <hr>

</ion-content>

<app-segment-tab-bar></app-segment-tab-bar>