
.contenedor-icono-proceso {
    background-image: linear-gradient(to bottom, #3880ff, #2e68db, #2352b9, #143c98, #002878);
    border: 2px solid rgb(0, 255, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
}

.icono-proceso {
    text-align: center;
    color: rgb(0, 200, 0);
    font-size: 40px;
}

.contenedor-nombre-proceso {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-nombre-proceso p {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.button-fotos-historicas {
    margin: 10px 0;
}

ion-card {
    padding: 15px 0;
    border-top: 0.7px dotted rgb(0, 200, 0);
    border-bottom: 0.7px dotted rgb(0, 200, 0);
}


p {
    font-weight: 300;
    font-size: 11px;
    color: black
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}

.imagen {
    width: 35%;
    height: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    color: white !important;
}

.fotos-visita{
    text-align: center;
    color: white;
}

.plaza {
    width: 100px !important;
}

.procedimiento {
    width: 100px !important;
}

ion-input {
    color: white !important;
}

ion-textarea {
    color: white !important;
}

.segment-si {
   
    padding: 0;
    border-radius: 10px !important;
    height: 10px !important;
}

.segment-no {
    
    padding: 0;
    margin-left: 10px;
    border-radius: 10px !important;
    height: 10px !important;
}



.marca-si {
    color: yellowgreen;
}

.marca-no {
    color: red;
}

.icon-trash {
    color: red;
}

ion-segment {
    --background:rgb(37, 64, 97);
    border-top: 1px solid rgba(0,0,0,.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}