<hr>
<hr>
<hr>
<hr>

<ion-content color="medium">

  <ion-card color="medium">
    <ion-card-header style="text-align: center;" color="medium">
      <ion-button (click)="syncAccounts()">
        <p style="color: white;">Enviar todo</p>
        <ion-icon style="font-size: 20px;" color="success" slot="end" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>


  <hr>

  <ion-card *ngFor="let servicio of servicios" color="medium" (click)="sync(servicio.id_servicio)">
    <ion-card-header>
      <ion-icon *ngIf="servicio.icono_app_movil.length < 12" color="light" [name]="servicio.icono_app_movil"></ion-icon>
      <img *ngIf="servicio.icono_app_movil.length > 12" [src]="servicio.icono_app_movil" style="width: 50px;">
    </ion-card-header>
    <ion-card-content color="dark">
      <h3> {{servicio.servicio}} </h3>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" (click)="syncServicios()">
    <ion-card-header>
      <ion-icon color="light" name="warning-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content color="dark">
      <h3>Servicios públicos</h3>
    </ion-card-content>
  </ion-card>


</ion-content>


<ion-segment scrollable>
  <ion-segment-button (click)="navegar(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>