<hr>
<hr>
<hr>
<hr>

<ion-content color="medium">

  <ion-card color="medium">
    <ion-card-header style="text-align: center;" color="medium">
      <ion-button (click)="syncAccounts()">
        <p style="color: white;">Enviar todo</p>
        <ion-icon style="font-size: 20px;" color="success" slot="end" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>


  <hr>

  <ion-card *ngFor="let servicio of servicios" color="medium" (click)="sync(servicio.id_servicio)">
    <ion-card-header>
      <ion-icon *ngIf="servicio.icono_app_movil.length < 12" color="light" [name]="servicio.icono_app_movil"></ion-icon>
      <img *ngIf="servicio.icono_app_movil.length > 12" [src]="servicio.icono_app_movil" style="width: 50px;">
    </ion-card-header>
    <ion-card-content color="dark">
      <h3> {{servicio.servicio}} </h3>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" (click)="syncServicios()">
    <ion-card-header>
      <ion-icon color="light" name="warning-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content color="dark">
      <h3>Servicios públicos</h3>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" (click)="syncEncuestas()">
    <ion-card-header>
      <ion-icon color="light" name="analytics-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content color="dark">
      <h3>Encuestas</h3>
    </ion-card-content>
  </ion-card>


</ion-content>


<app-segment-tab-bar></app-segment-tab-bar>