<!-- <app-header></app-header> -->
<hr><hr><hr><hr>
<ion-content color="medium">


  <ion-card color="medium">
    <ion-card-subtitle color="dark" style="text-align: center;">
      <p style="color: white; font-size: 16px;">Seleccione el mapa</p>
    </ion-card-subtitle>
  </ion-card>

  <hr>

  <div class="texto-centrado">
    <p class="datos">
      <ion-select class="myCustomSelect text-center" interface="popover" placeholder="Seleccionar plaza"
        (ionChange)="resultPlaza($event)" [(ngModel)]="id_plaza">
        <ion-select-option *ngFor="let plaza of plazas; index as i" [value]="idPlazas[i]">{{plaza |
          titlecase}}
        </ion-select-option>
      </ion-select>
    </p>
  </div>

  <div *ngIf="agua">
    <ion-card color="medium" (click)="irAgua()">
      <ion-card-header>
        <ion-icon color="light" name="water"></ion-icon>
      </ion-card-header>
      <ion-card-content color="dark">
        <h3>Regularización agua</h3>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="predio">
    <ion-card color="medium" (click)="irPredio()">
      <ion-card-header>
        <ion-icon color="light" name="home"></ion-icon>
      </ion-card-header>
      <ion-card-content color="dark">
        <h3>Regularización predio</h3>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="antenas">
    <ion-card color="medium" (click)="irAntenas()">
      <ion-card-header>
        <img src="../../assets/img/antena.png" style="width: 30px;" alt="">
      </ion-card-header>
      <ion-card-content color="dark">
        <h3>Antenas telecomunicaciones</h3>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>