<!-- <app-header></app-header> -->
<hr>
<hr>
<hr>
<hr>
<ion-content color="medium">


  <ion-card color="medium">
    <ion-card-subtitle color="dark" style="text-align: center;">
      <p style="color: white; font-size: 16px;">Seleccione el mapa</p>
    </ion-card-subtitle>
  </ion-card>

  <hr>

  <div class="texto-centrado">
    <p class="datos">
      <ion-select style="color: #000000;" class="myCustomSelect text-center" interface="action-sheet"
        placeholder="Seleccionar plaza" (ionChange)="resultPlaza($event)" [(ngModel)]="id_plaza">
        <ion-select-option *ngFor="let plaza of plazasServicios; index as i" [value]="plaza.id_plaza">{{plaza.plaza |
          titlecase}}
        </ion-select-option>
      </ion-select>
    </p>
  </div>

  <div *ngIf="id_plaza != 0">
    <ion-card color="medium" (click)="irMapa(servicio.id_servicio)" *ngFor="let servicio of servicios">
      <ion-card-header>
        <ion-icon *ngIf="servicio.icono_app_movil.length < 15" color="light" [name]="servicio.icono_app_movil">
        </ion-icon>
        <img *ngIf="servicio.icono_app_movil.length > 12" [src]="servicio.icono_app_movil" style="width: 50px;">
      </ion-card-header>
      <ion-card-content>
        <h3> {{servicio.servicio}} </h3>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>