<ion-header>
  <ion-toolbar color="dark">
    <ion-title clor="light">Mapas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="../../assets/img/agua.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="googleMaps()" color="success">
        AGUA
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="../../assets/img/predio.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="predio()" color="success">
        PREDIO
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>