p {
    font-weight: 300;
    font-size: 11px;
    color: black
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}

.imagen {
    width: 35%;
    height: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    color: white;
}

.fotos-visita{
    text-align: center;
}