<hr>
<hr>
<hr>
<hr>

<ion-content color="medium" id="main">

  <div class="contenedor-icono-proceso" style="text-align: center;">
    <ion-icon class="icono-proceso" [name]="iconoProceso"></ion-icon>
  </div>

  <div class="contenedor-nombre-proceso">
    <ion-label>
      <p>{{nombreProceso}}</p>
    </ion-label>
  </div>

  <ion-card color="medium">
    <div style="text-align: center;">
      <ion-chip color="success">Información de la gestión a realizar</ion-chip>
    </div>
    <ion-card-content>
      <ion-item color="medium">
        <ion-label>
          <p> Plaza: <span style="font-weight: bold;"> {{nombrePlaza}} </span> </p>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <!--  este es solo el id falta traer el nombre -->
          <p> Acción a realizar: <span style="font-weight: bold;"> {{nombreTareaAsignada}} </span> </p>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p> Cuenta a gestionar: <span style="font-weight: bold;"> {{account}} </span> </p>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p> Propietario: <span style="font-weight: bold;"> {{propietario}} </span> </p>
        </ion-label>
      </ion-item>



      <ion-button fill="outline" expand="block" (click)="goPhotos()">
        <ion-icon slot="start" name="image"></ion-icon>
        Fotos históricas
      </ion-button>

      <ion-button style="margin-top: 10px;" fill="outline" color="success" expand="block" (click)="goActions()">
        <ion-icon slot="start" name="cube-outline"></ion-icon>
        Acciones históricas
      </ion-button>

    </ion-card-content>
  </ion-card>


  <ion-card color="medium">
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-label>
          <p>
            * Estatus del predio:
          </p>
          <ion-text *ngIf="leyendaEstatusPredio" color="warning">
            <h4> --- Error: Estatus del predio requerido --- </h4>
          </ion-text>
          <p>
            <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
              [(ngModel)]="idEstatusPredio" (ionChange)="resultEstatusPredio($event)">
              <ion-select-option value="1">Predio localizado</ion-select-option>
              <ion-select-option value="2">Predio baldío</ion-select-option>
              <ion-select-option value="3">Predio abandonado</ion-select-option>
              <ion-select-option value="4">Predio no localizado</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <div *ngIf="activaFormulario">

    <div style="text-align: center; margin:15 0px 0 20;">
      <ion-chip color="success">Información contribuyente</ion-chip>
    </div>

    <ion-card color="medium">
      <ion-card-content color="medium">
        <ion-item color="medium">
          <ion-label>
            <p>
              * Motivo de no pago
            </p>
            <ion-text *ngIf="leyendaMotivoNoPago" color="warning">
              <h4> --- Error: Motivo de no pago requerido --- </h4>
            </ion-text>
            <p>
              <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
                [(ngModel)]="idMotivoNoPago" (ionChange)="resultMotivoNoPago( $event )">
                <ion-select-option value="1">No quiero pagar</ion-select-option>
                <ion-select-option value="2">No tengo dinero</ion-select-option>
                <ion-select-option value="4">Descontento con administración</ion-select-option>
                <ion-select-option value="5">Otro</ion-select-option>
              </ion-select>
            </p>
          </ion-label>
        </ion-item>

        <div *ngIf="activaOtroMotivo">
          <ion-item color="medium">
            <ion-label>
              <p>* Especifique: </p>
              <ion-text *ngIf="leyendaOtroMotivo" color="warning">
                <h4> --- Error: Especifica el otro motivo de no pago --- </h4>
              </ion-text>
            </ion-label>
            <ion-input class="myCustomSelect" interface="popover" (ionChange)="resultOtroMotivoNoPago($event)"
              [(ngModel)]="otroMotivo"></ion-input>
          </ion-item>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-card color="medium">
      <ion-card-content color="medium">
        <ion-item color="medium">
          <ion-label>
            <p>Persona que atiende: </p>
          </ion-label>
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="personaAtiende"> </ion-input>
        </ion-item>
        <ion-item color="medium">
          <ion-label>
            <p>Tipo de servicio actual</p>
            <ion-text color="primary"> {{tipoServicioPadron}} </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>
              * Tipo de servicio detectado
            </p>
            <ion-text color="warning">
              <h4 *ngIf="leyendaTipoServicioObligatorio"> --- Error: Tipo de servicio detectado requerido --- </h4>
            </ion-text>
            <p>
              <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
                [(ngModel)]="idTipoServicio" (ionChange)="resultTipoServicio($event)">
                <ion-select-option value="1">Doméstico</ion-select-option>
                <ion-select-option value="2">Comercial</ion-select-option>
                <ion-select-option value="3">Industrial</ion-select-option>
                <ion-select-option value="4">Gobierno</ion-select-option>
                <ion-select-option value="5">Doméstico / Comercial</ion-select-option>
                <ion-select-option value="6">Residencial</ion-select-option>
                <ion-select-option value="7">Departamental</ion-select-option>
                <ion-select-option value="8">No aplica</ion-select-option>
              </ion-select>
            </p>
          </ion-label>
        </ion-item>

        <div *ngIf="mostrarGiro">
          <ion-item color="medium">
            <ion-label>
              <p>Giro: </p>
            </ion-label>
            <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="giro"></ion-input>
          </ion-item>
        </div>

        <div *ngIf="plazaAgua">

          <ion-item color="medium">
            <ion-label>
              <p>Lectura medidor: </p>
            </ion-label>
            <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="lectura_medidor"></ion-input>
          </ion-item>


          <ion-item color="medium">
            <ion-label>
              <p>
                Cada cuando hay suministro de agua:
              </p>
              <p>
                <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
                  [(ngModel)]="idTiempoSuministroAgua" (ionChange)="resultTiempoSuministroAgua($event)">
                  <ion-select-option value="1">Diario</ion-select-option>
                  <ion-select-option value="2">Cada tercer dia</ion-select-option>
                  <ion-select-option value="3">Cada semana</ion-select-option>
                  <ion-select-option value="4">Otro</ion-select-option>
                </ion-select>
              </p>
            </ion-label>
          </ion-item>


          <div *ngIf="activaOtroSuministroAgua">

            <ion-item color="medium" style="text-align: center;">
              <p>
                Lunes:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultLunes( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="lunesSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="lunesNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Martes:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultMartes( $event )" value="martes">
                <ion-segment-button class="segment-si" value="martesSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="martesNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Miércoles
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultMiercoles( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="miercolesSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="miercolesNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Jueves:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultJueves( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="juevesSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="juevesNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Viernes:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultViernes( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="viernesSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="viernesNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Sábado:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultSabado( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="sabadoSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="sabadoNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item color="medium" style="text-align: center;">
              <p>
                Domingo:
              </p>
            </ion-item>
            <ion-item color="medium">
              <ion-segment mode="ios" color="danger" (ionChange)="resultDomingo( $event )" value="lunes">
                <ion-segment-button class="segment-si" value="domingoSi">
                  <ion-label class="marca-si">Si</ion-label>
                </ion-segment-button>
                <ion-segment-button class="segment-no" value="domingoNo">
                  <ion-label class="marca-no">No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

          </div>

        </div>

        <hr>

        <div style="text-align: center;">
          <ion-chip color="success">Características del inmueble</ion-chip>
        </div>

        <hr>

        <ion-item color="medium">
          <ion-label>
            <p>Número de niveles: </p>
          </ion-label>
          <ion-input type="number" class="myCustomSelect" interface="popover" [(ngModel)]="numeroNiveles"></ion-input>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>Color fachada: </p>
          </ion-label>
          <!-- <input type="color" [(ngModel)]="colorFachada"> -->
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="colorFachada"></ion-input>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>Color puerta: </p>
          </ion-label>
          <!-- <input type="color" [(ngModel)]="colorPuerta"> -->
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="colorPuerta"></ion-input>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>Referencia: </p>
          </ion-label>
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="referencia"></ion-input>
        </ion-item>


        <ion-item color="medium">
          <ion-label>
            <p>
              Tipo de predio
            </p>
            <p>
              <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
                [(ngModel)]="idTipoPredio">
                <ion-select-option value="1">Esquinero</ion-select-option>
                <ion-select-option value="2">Intermedio</ion-select-option>
                <ion-select-option value="3">Manzanero</ion-select-option>
                <ion-select-option value="4">Ahogado</ion-select-option>
              </ion-select>
            </p>
          </ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>Entre calle 1: </p>
          </ion-label>
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="entreCalle1"></ion-input>
        </ion-item>

        <ion-item color="medium">
          <ion-label>
            <p>Entre calle 2: </p>
          </ion-label>
          <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="entreCalle2"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>



  <ion-card color="medium">
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-label>
          <p>
            Observaciones:
          </p>
        </ion-label>
        <ion-textarea rows="5" [(ngModel)]="observaciones"></ion-textarea>
      </ion-item>

      <div style="margin-top: 20px;">
        <ion-button [disabled]="sello" fill="outline" color="success" expand="block" (click)="colocacionSello()">
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          Colocación de sello
          <ion-icon *ngIf="sello" color="success" slot="end" name="checkmark-done-circle-outline"></ion-icon>
        </ion-button>

        <ion-button [disabled]="verificacionDomicilio" style="margin-top: 10px;" fill="outline" color="warning" expand="block"
          (click)="verificarDomicilio()">
          <ion-icon style="margin-right: 5px;" name="shield-checkmark-outline"></ion-icon>
          <span *ngIf="!verificacionDomicilio">Verificar domicilio</span>
          <span *ngIf="verificacionDomicilio">Domicilio verificado</span>
          <ion-icon *ngIf="verificacionDomicilio" color="success" slot="end" name="checkmark-done-circle-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-content color="medium">

      <ion-item color="medium">
        <ion-label>
          <p>
            Tipo de gestión
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
              [(ngModel)]="idTipoGestion" (ionChange)="resultPostpago($event)">
              <ion-select-option value="1">Normal</ion-select-option>
              <ion-select-option value="2">Postpago</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>

      <div *ngIf="activaPostpago">


        <div style="text-align: center; margin:15 0px 0 20;">
          <ion-chip color="success">Pagos realizados de la cuenta</ion-chip>
        </div>

        <ion-item color="medium" *ngFor="let pago of listadoPagos">
          <ion-label>
            <p> Total: $ <span style="font-weight: bold;"> {{pago.total}} </span> </p>
          </ion-label>
          <ion-label>
            <p> Fecha: <span style="font-weight: bold;"> {{pago.fecha}} </span> </p>
          </ion-label>
        </ion-item>


        <ion-item color="medium" style="margin-top:20px">
          <ion-label>
            <p>Fecha captura para la gestión</p>
            <ion-datetime displayFormat="DD-MM-YYYY" min="2020" min="2020-01-01" placeholder="1999-09-09"
              [(ngModel)]="fechaCapturaPostpago">
            </ion-datetime>
          </ion-label>
        </ion-item>
        <ion-item color="medium">
          <ion-label>
            <p>
              Nombre gestor:
            </p>
            <p>
              <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
                [(ngModel)]="idAspUser">
                <ion-select-option [value]="gestor.id_usuario" *ngFor="let gestor of listadoGestores">
                  {{gestor.nombre}} {{gestor.apellido_paterno}}
                </ion-select-option>
              </ion-select>
            </p>
          </ion-label>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of imgs">
      <img src={{img.imagen}} class="imagen">
      <ion-fab-button padding size="small" (click)="deletePhoto(img.imagen)" *ngIf="img.imagen != 'assets/img/imgs.png'"
        color="danger">
        <ion-icon class="icon-trash" name="trash"></ion-icon>
      </ion-fab-button>
    </ion-slide>
  </ion-slides>


  <ion-item color="medium" text-center>
    <ion-label>
      <p class="fotos-visita">
        Fotos de la visita
      </p>


      <ion-grid>

        <ion-row>
          <ion-col text-center>
            <ion-button expand="block" color="primary" (click)="takePic(1)">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-label class="fotos-visita">Fachada predio</ion-label>
          </ion-col>

          <ion-col text-center>
            <ion-button expand="block" color="warning" (click)="takePic(2)">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-label class="fotos-visita">Evidencia</ion-label>
          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-button expand="block" color="secondary" (click)="takePic(3)">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-label class="fotos-visita">Toma</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-label>
  </ion-item>


  <ion-card color="medium">
    <ion-grid *ngIf="!encuestaRealizada">
      <ion-row>
        <ion-col size=12 class="ion-text-center">
          <p>Presiona el botón para abrir la sección de preguntas de la encuesta.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=12 class="ion-text-center">
          <ion-button class="button-abrir-modal" fill="outline" [disabled]="desactivaBotonesCamara" color="primary"
            expand="block" (click)="encuesta()">
            <ion-icon style="margin-right: 7px" name="newspaper-outline"></ion-icon>
            Abrir encuesta
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="encuestaRealizada" style="text-align: center;">
      <ion-chip color="success">
        Encuesta terminada
      </ion-chip>
    </div>
  </ion-card>

  <ion-card color="medium">

    <ion-grid>
      <ion-row>
        <ion-col size=12 class="ion-text-center">
          <p>Presiona el botón para abrir la sección de lecturas de medidor.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=12 class="ion-text-center">
          <ion-button class="button-abrir-modal" fill="outline" color="warning" expand="block"
            (click)="openLecturaMedidor()">
            <ion-icon style="margin-right: 7px;" name="ellipsis-horizontal-circle-outline"></ion-icon>
            Lectura medidor
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="encuestaRealizada" style="text-align: center;">
      <ion-chip color="success">
        Lectura medidor terminada
      </ion-chip>
    </div>

  </ion-card>

  <hr>
  <hr>

  <ion-grid>
    <ion-row>
      <ion-col size=12 class="ion-text-center">
        <ion-button shape="round" color="success" expand="block"
          (click)="messageTerminarGestion()">Terminar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-segment scrollable>
  <ion-segment-button (click)="salida(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>