p {
    font-weight: 300;
    font-size: 11px;
    color: white !important;
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}

.imagen {
    width: 35%;
    height: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.fotos-visita{
    text-align: center;
    color: white;
    font-size: 16px;
}


.plaza {
    width: 80px !important;
}

.procedimiento {
    width: 140px !important;
}

ion-input {
    color: white !important;
}

ion-textarea {
    color: white !important;
}

ion-label {
    color: white !important;
}

.icon-trash {
    color: red !important;
}


ion-datetime{
    color: white !important;
}

.segment-si {
    padding: 0;
    border-radius: 10px !important;
    height: 5px !important;
}

.segment-no {
    padding: 0;
    margin-left: 10px;
    border-radius: 10px !important;
    height: 10px !important;
}

.marca-si {
    color: yellowgreen !important;
}

.marca-no {
    color: red !important;
}

.icon-trash {
    color: red;
}

ion-segment {
    --background:rgb(37, 64, 97);
    border-top: 1px solid rgba(0,0,0,.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}
