<hr>
<hr>
<hr>
<hr>

<ion-content color="medium" id="main">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-chip class="procedimiento" color="secondary">
        Carta Invitación
      </ion-chip>
      <ion-chip class="plaza" color="secondary">
        {{nombrePlaza}}
      </ion-chip>
    </ion-fab-list>
  </ion-fab>

  <hr>
  <hr>
  <hr>
  <hr><hr><hr>

  <div style="text-align: center;">
    <ion-chip color="success">Información contribuyente</ion-chip>
  </div>

  <ion-card color="medium">
    <ion-card-content>
      <ion-item color="medium">
        <ion-label>
          <p>Persona que atiende: </p>
        </ion-label>
        <ion-input (click)="resultPersonaAtiende( $event )" class="myCustomSelect" interface="popover" [(ngModel)]="personaAtiende"></ion-input>
      </ion-item>
      <!-- <ion-item color="medium">
        <ion-label>
          <p>Número de contacto: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="numeroContacto"></ion-input>
      </ion-item> -->
    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-label>
          <p>
            Motivo de no pago
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno"
              [(ngModel)]="idMotivoNoPago">
              <ion-select-option value="1">No quiero pagar</ion-select-option>
              <ion-select-option value="2">No tengo dinero</ion-select-option>
              <ion-select-option value="3">Grupo vulnerable</ion-select-option>
              <ion-select-option value="4">Descontento con administración</ion-select-option>
              <ion-select-option value="5">Otro</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>


      <ion-item color="medium">
        <ion-label>
          <p>
            <small>
              Como considera el trabajo actual de la administración
            </small>
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno"
              [(ngModel)]="idTrabajoActual">
              <ion-select-option value="1">Bueno</ion-select-option>
              <ion-select-option value="2">Regular</ion-select-option>
              <ion-select-option value="3">Malo</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>
            <small>
              En que le gustaría que se gastara su pago de impuestos
            </small>
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno"
              [(ngModel)]="idGastoImpuesto">
              <ion-select-option value="1">Seguridad</ion-select-option>
              <ion-select-option value="2">Alumbrado</ion-select-option>
              <ion-select-option value="3">Pavimentación</ion-select-option>
              <ion-select-option value="4">Limpieza pública</ion-select-option>
              <ion-select-option value="5">Parques y camellones</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-label>
          <p>Tipo de servicio actual</p>
          <ion-text color="primary"> {{tipoServicioPadron}} </ion-text>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>
            Cambiar el tipo de servicio
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno"
              [(ngModel)]="idTipoServicio">
              <ion-select-option value="1">Domestico</ion-select-option>
              <ion-select-option value="2">Comercial</ion-select-option>
              <ion-select-option value="3">Industrial</ion-select-option>
              <ion-select-option value="4">Gobierno</ion-select-option>
              <ion-select-option value="5">Domectico / Comercial</ion-select-option>
              <ion-select-option value="6">Residencial</ion-select-option>
              <ion-select-option value="7">Departamental</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>

      <hr>

      <div style="text-align: center;">
        <ion-chip color="success">Características del inmueble</ion-chip>
      </div>

      <hr>

      <ion-item color="medium">
        <ion-label>
          <p>Número de niveles: </p>
        </ion-label>
        <ion-input type="number" class="myCustomSelect" interface="popover" [(ngModel)]="numeroNiveles"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>Color fachada: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="colorFachada"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>Color puerta: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="colorPuerta"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>Referencia: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="referencia"></ion-input>
      </ion-item>


      <ion-item color="medium">
        <ion-label>
          <p>
            Tipo de predio
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno"
              [(ngModel)]="idTipoPredio">
              <ion-select-option value="1">Esquinero</ion-select-option>
              <ion-select-option value="2">Intermedio</ion-select-option>
              <ion-select-option value="3">Manzanero</ion-select-option>
              <ion-select-option value="4">Ahogado</ion-select-option>
            </ion-select>
          </p>
        </ion-label>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>Entre calle 1: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="entreCalle1"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>Entre calle 2: </p>
        </ion-label>
        <ion-input class="myCustomSelect" interface="popover" [(ngModel)]="entreCalle2"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-label>
          <p>
            Observaciones:
          </p>
        </ion-label>
        <ion-textarea rows="5" [(ngModel)]="observaciones"></ion-textarea>
      </ion-item>

    </ion-card-content>
  </ion-card>


  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of imgs">
      <img src={{img.imagen}} class="imagen">
      <ion-fab-button padding size="small" (click)="deletePhoto(img.imagen)" *ngIf="img.imagen != 'assets/img/imgs.png'"
        color="danger">
        <ion-icon class="icon-trash" name="trash"></ion-icon>
      </ion-fab-button>
    </ion-slide>
  </ion-slides>


  <ion-item color="medium" text-center>
    <ion-label>
      <p class="fotos-visita">
        Fotos de la visita
      </p>


      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-button expand="block" color="primary" (click)="takePic(1)">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-label class="fotos-visita">Fachada predio</ion-label>
          </ion-col>

          <ion-col text-center>
            <ion-button expand="block" color="warning" (click)="takePic(2)">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-label class="fotos-visita">Evidencia</ion-label>
          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-label>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col size=12 class="ion-text-center">
        <ion-button shape="round" color="success" expand="block" (click)="terminar()">Terminar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<ion-segment scrollable>
  <ion-segment-button (click)="salida(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="salida(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>