p {
    font-weight: 300;
    font-size: 11px;
    color: black
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}

.imagen {
    width: 35%;
    height: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    color: white !important;
}

.fotos-visita{
    text-align: center;
    color: white;
}

.plaza {
    width: 100px !important;
}

.procedimiento {
    width: 100px !important;
}

ion-input {
    color: white !important;
}

ion-textarea {
    color: white !important;
}

.icon-trash {
    color: red;
}


ion-segment {
    --background:rgb(37, 64, 97);
    border-top: 1px solid rgba(0,0,0,.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}