<hr>
<hr>
<hr>
<hr>

<ion-content style="text-align: center;" color="medium">


    <ion-card color="medium">
        <ion-card-subtitle color="dark" style="text-align: center;">
            <p style="color: white; font-size: 16px;">Procedimientos de gestión</p>
        </ion-card-subtitle>
    </ion-card>

    <hr>

    <ion-card color="medium" *ngFor="let proceso of procesos" (click)="irProceso(proceso.id_proceso)">
        <ion-card-header>
            <ion-icon class="icono-proceso" [name]="proceso.imagen"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            <h3>{{proceso.nombre_proceso}}</h3>
        </ion-card-content>
    </ion-card>
    <hr>
    


</ion-content>

<app-segment-tab-bar></app-segment-tab-bar>