.titulo {
    text-align: center;
    color: white !important;
}

ion-card-header {
    text-align: center;
    padding: 0 20%;
}

img {
    width: 50%;
    height: 50%;
}

.elemento {
    text-align: center;
}