.titulo {
    text-align: center;
    color: white !important;
}

ion-card {
    text-align: center !important;
    margin: 0 auto !important;
}

ion-card-header {
    text-align: center;
    padding: 0 20%;
}

ion-item {
    text-align: center !important;
}

img {
    width: 40px;
    height: 40px;
}

h3 {
    color: white;
    font-size: 16px;
}


ion-segment {
    --background:rgb(37, 64, 97);
    border-top: 1px solid rgba(0,0,0,.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}