<ion-header>
    <ion-toolbar color="medium">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item color="dark">
                        <ion-label class="titulo">
                            Formularios para gestión
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">


    <ion-item color="medium" (click)="cartaInvitacion()">

        <ion-card color="dark">
            <ion-card-header>
                <ion-chip color="success">Carta invitación</ion-chip>
            </ion-card-header>
            <ion-card-content class="elemento">
                <img src="../../assets/img/carta.png" alt="">
            </ion-card-content>
        </ion-card>

    </ion-item>

    <div *ngIf="agua">
        <ion-item color="medium" (click)="inspeccionAgua()">

            <ion-card color="dark">
                <ion-card-header>
                    <ion-chip color="success">Inspección</ion-chip>
                </ion-card-header>
                <ion-card-content class="elemento">
                    <img src="../../assets/img/inspeccion.png" alt="">
                </ion-card-content>
            </ion-card>
    
        </ion-item>
    </div>

    <div *ngIf="predio">
        <ion-item color="medium" (click)="inspeccionPredio()">

            <ion-card color="dark">
                <ion-card-header>
                    <ion-chip color="success">Inspección</ion-chip>
                </ion-card-header>
                <ion-card-content class="elemento">
                    <img src="../../assets/img/inspeccion.png" alt="">
                </ion-card-content>
            </ion-card>
    
        </ion-item>
    </div>


    <ion-item color="medium" (click)="legal()">

        <ion-card color="dark">
            <ion-card-header>
                <ion-chip color="success">Legal</ion-chip>
            </ion-card-header>
            <ion-card-content class="elemento">
                <img src="../../assets/img/legal.png" alt="">
            </ion-card-content>
        </ion-card>

    </ion-item>



</ion-content>