<hr>
<hr>
<hr>
<hr>

<ion-content style="text-align: center;" color="medium">


    <ion-card color="medium">
        <ion-card-subtitle color="dark" style="text-align: center;">
            <p style="color: white; font-size: 16px;">Procedimientos de gestión</p>
        </ion-card-subtitle>
    </ion-card>

    <hr>

    <ion-card color="medium" (click)="inspeccion()">
        <ion-card-header>
            <img src="../../assets/img/lupa.png" alt="">
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Inspección agua</h3>
        </ion-card-content>
    </ion-card>

    <hr>
    <hr>

    <ion-card color="medium" (click)="legal()">
        <ion-card-header>
            <img src="../../assets/img/mazo-legal.png" alt="">
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Legal</h3>
        </ion-card-content>
    </ion-card>

    <hr>
    <hr>

    <ion-card color="medium" (click)="cartaInvitacion()">
        <ion-card-header>
            <ion-icon color="light" style="font-size: 40px;" name="clipboard-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Carta invitación</h3>
        </ion-card-content>
    </ion-card>
    
    <hr>
    <hr>
    
    <ion-card color="medium" (click)="inspeccionAntenas()">
        <ion-card-header>
            <!-- <ion-icon color="light" style="font-size: 40px;" name="clipboard-outline"></ion-icon> -->
            <img src="../../assets/img/antena.png" alt="">
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Inspección antenas</h3>
        </ion-card-content>
    </ion-card>



</ion-content>

<ion-segment scrollable>
    <ion-segment-button (click)="navegar(1)">
        <ion-icon color="light" name="home"></ion-icon>
        <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="navegar(2)">
        <ion-icon color="light" name="layers"></ion-icon>
        <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="navegar(3)">
        <ion-icon color="light" name="map"></ion-icon>
        <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="navegar(4)">
        <ion-icon color="light" name="warning"></ion-icon>
        <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="navegar(5)">
        <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
        <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
    </ion-segment-button>
</ion-segment>