p {
    font-weight: 300;
    font-size: 11px;
    color: white !important;
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}



ion-input {
    color: white !important;
}


ion-segment {
    --background:rgb(37, 64, 97);
    border-top: 1px solid rgba(0,0,0,.1);
}

ion-segment-button {
    --indicator-color: transparent !important;
}


.segment-si {
   
    padding: 0;
    border-radius: 10px !important;
    height: 10px !important;
}

.segment-no {
    
    padding: 0;
    margin-left: 10px;
    border-radius: 10px !important;
    height: 10px !important;
}

.marca-si {
    color: green;
}

.marca-parcialmente {
    color: yellowgreen;
}

.marca-no {
    color: red;
}

.icon-trash {
    color: red;
}

