

<ion-content style="height: 100% !important;">
    <div class="principal">
        <div class="login">
            <div class="img-principal">
                <img src="../../assets/img/sero-blanco.png" alt="">
            </div>

            <h1 class="texto-login">Login</h1>

            <div class="contenido-formulario">
                <ion-item color="light">
                    <ion-input class="btn-login" name="email" type="email" required [(ngModel)]="email"
                        placeholder="Ingresa un usuario"></ion-input>
                </ion-item>
    
                <ion-item color="light">
                    <ion-input class="btn-login" #passwordEyeRegister name="password" [type]="passwordTypeInput" required
                        [(ngModel)]="password" placeholder="Ingresa una contraseña"></ion-input>
                    <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                        <ion-icon [name]="iconpassword"></ion-icon>
                    </button>
                </ion-item>
                <button class="boton-ingresar" (click)="login()">INGRESAR</button>
            </div>
            <div class="img-principal erpp-logo" style="margin-top: 50px;">
                <img src="../../assets/img/logo.png" alt="">
            </div>
        </div>
    </div>
</ion-content>


