
.principal {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    background-image: url(../../assets/img/fondo-login.jpeg);
    background-repeat: no-repeat;
    background-size: 120% 110%;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.login {
    width: 100%;
}

.img-principal {
    text-align: center;
    margin-bottom: 30px;
}

img {
    width: 230px;
}


.texto-login {
    color: rgb(0,255,0);
    text-align: center;
    font: 20px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}

.contenido-formulario {
    width: 90%;
    margin: 0 auto;
}

ion-item {
    margin-bottom: 20px;
    border-radius: 10px;
}

ion-button{
    text-transform: uppercase;
}

.boton-ingresar {
    background-color: rgb(0,255,0);
    padding: 15px;
    width: 100%;
    color: white;
    border-radius: 10px;
}


.erpp-logo img {
    width: 150px;
}