ion-toolbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
}

ion-toolbar img {
    width: 160px;
    height: 40px;
}

.swiper-zoom-container img {
    width: 100%;
    height: 600px;
}