p {
    font-weight: 300;
    font-size: 11px;
    color: white !important;
}

.myCustomSelect {
    max-width: 100% !important;
}

ion-select {
    max-width: 100% !important;
}



ion-input {
    color: white !important;
}
