<p>
  <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno" (ionChange)="resultIdPartido($event)">
    <ion-select-option value="1">PRI</ion-select-option>
    <ion-select-option value="2">PAN</ion-select-option>
    <ion-select-option value="3">PRD</ion-select-option>
    <ion-select-option value="4">MORENA</ion-select-option>
    <ion-select-option value="5">MC</ion-select-option>
    <ion-select-option value="6">PT</ion-select-option>
    <ion-select-option value="7">VE</ion-select-option>
    <ion-select-option value="8">OTRO</ion-select-option>
    <ion-select-option value="9">NO SABE</ion-select-option>
  </ion-select>
</p>