<ion-header class="header" style="z-index: 1 !important;" no-border>
  <ion-toolbar style="z-index: 0 !important;" color="medium">
    <ion-buttons>
      <ion-button color="medium">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img style="margin-right: 25px;" src="../../assets/img/sero_sin_letras.png" slot="end" alt="">
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <hr>
  <hr>

  <div style="text-align: center;">
    <ion-chip color="success">Historial de asistencias</ion-chip>
  </div>

  <ion-card color="medium" *ngFor="let accion of data; let i = index">
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-label color="light">
          <p>Número: <span>{{i + 1}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label color="light">
          <p>Fecha: <span>{{accion.fecha}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label color="light">
          <p>Hora entrada: <span>{{accion.hora_entrada.substring(0,8)}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label color="light">
          <p>Entrada comida: <span>{{accion.hora_entrada_comida.substring(0,8)}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label color="light">
          <p>Salida comida: <span>{{accion.hora_salida_comida.substring(0,8)}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label color="light">
          <p>Hora salida: <span>{{accion.hora_salida.substring(0,8)}}</span> </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <hr>

  <div style="text-align: center;">
    <ion-button color="primary" (click)="back()">Regresar</ion-button>
  </div>


</ion-content>