<ion-content color="medium">

  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>

  <div style="text-align: center;">
    <h3>Botón de pánico</h3>
  </div>

  <hr>

  <div *ngIf="!mensajeEnviado" class="img-boton-panico">
    <img src="../../assets/img/boton-panico.png" (click)="confirmarBoton()" alt="">
  </div>

  <div *ngIf="!mensajeEnviado" class="img-selecciona">
    <img src="../../assets/img/mano.png" alt="">
  </div>

  <div *ngIf="mensajeEnviado" class="img-good">
    <img src="../../assets/img/good.png" alt="">
  </div>

  <div *ngIf="mensajeEnviado" class="texto-confimacion-ayuda">
    <h1>Se han enviado los mensajes de ayuda</h1>
    <h1>Espera indicaciones</h1>
    <h1>✔✔🚀🚔</h1>
  </div>

  <div *ngIf="error" class="texto-confimacion-ayuda">
    <h1>No se ha podido enviar el mensaje, pero el registro ya se encuentra en el sistema</h1>
    <h1>Espera indicaciones</h1>
    <h1>🔴🚀🚔</h1>
  </div>

</ion-content>