h3 {
    color: white;
}

.img-boton-panico {
    text-align: center;
    margin-top: 30px;
}

.img-boton-panico img {
    width: 80%;
}

.img-selecciona {
    text-align: center;
}

.img-selecciona img {
    width: 80%;
}

.img-good {
    text-align: end;
}

.img-good img {
    width: 80%;
}

.texto-confirmacion-ayuda {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}