<hr>
<hr>
<hr>
<hr>

<ion-content color="medium">

  <ion-card color="medium">
    <ion-card-subtitle color="dark" style="text-align: center;">
      <p style="color: white; font-size: 16px;">Selecciona la plaza</p>
    </ion-card-subtitle>
  </ion-card>

  <div class="texto-centrado">
    <p class="datos">
      <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Seleccionar plaza" [(ngModel)]="id_plaza" (ionChange)="resultPlaza( $event )">
        <ion-select-option *ngFor="let plaza of plazasServicios; index as i" [value]="plaza.id_plaza">
          {{plaza.plaza |
          titlecase}}
        </ion-select-option>
      </ion-select>
    </p>
  </div>

  <hr>
  <hr>

  <div style="text-align: center;">
    <ion-chip color="secondary">Incidencia</ion-chip>
  </div>

  <ion-card color="medium">
    <ion-card-header color="medium">
      <p style="text-align: center;">Tipo de incidenia</p>
    </ion-card-header>
    <ion-card-content color="medium">
      <p>
        <ion-select interface="action-sheet" placeholder="Selecciona uno" [(ngModel)]="idServicio"
          (ionChange)="resultIncidencia( $event )">
          <ion-select-option *ngFor="let incidencia of listaServiciosPublicos; let i = index" [value]='incidencia.id_servicio_publico'> {{incidencia.nombre_servicio_publico}} </ion-select-option>
        </ion-select>
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card color="medium">
    <ion-card-header color="medium">
      <ion-label>
        <p class="fotos-visita">
          Fotos de incidencia
        </p>
      </ion-label>
    </ion-card-header>
    <hr>
    <ion-card-content color="medium">
      <ion-slides [options]="sliderOpts">
        <ion-slide *ngFor="let img of imgs">
          <img src={{img.imagen}} class="imagen">
          <ion-fab-button padding size="small" (click)="deletePhoto(img.imagen, 1)"
            *ngIf="img.imagen != 'assets/img/imgs.png'" color="danger">
            <ion-icon class="delete" name="trash"></ion-icon>
          </ion-fab-button>
        </ion-slide>
      </ion-slides>


      <ion-grid style="text-align: center;">
        <ion-col>
          <ion-button class="btn-camara" [color]="colorIncidencia1" [disabled]="!idIncidencia1Selected" (click)="takePic(1)">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label class="fotos-visita">Evidencia</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>



  <!-- <hr>
  <hr>

  <div style="text-align: center;">
    <ion-chip color="success">Incidencia 2</ion-chip>
  </div>


  <ion-card color="medium">
    <ion-card-header color="medium">
      <p style="text-align: center;">Tipo de incidenia 2</p>
    </ion-card-header>
    <ion-card-content color="medium">
      <p>
        <ion-select interface="action-sheet" placeholder="Selecciona uno" [(ngModel)]="idServicio2"
        (ionChange)="resultIncidencia(2)">
          <ion-select-option value='1'>Fuga de agua</ion-select-option>
          <ion-select-option value='2'>Falla en el suministro de agua </ion-select-option>
          <ion-select-option value='3'>Coladera omisa o en mal estado </ion-select-option>
          <ion-select-option value='4'>Bache</ion-select-option>
          <ion-select-option value='5'>Pavimento en mal estado</ion-select-option>
          <ion-select-option value='6'>Luminaria faltante o fundida</ion-select-option>
          <ion-select-option value='7'>Señalamiento vial omiso o en mal estado</ion-select-option>
          <ion-select-option value='8'>Aseo público</ion-select-option>
          <ion-select-option value='9'>Zona de riesgo</ion-select-option>
          <ion-select-option value='10'>Situación de riesgo</ion-select-option>
          <ion-select-option value='11'>Inundación</ion-select-option>
          <ion-select-option value='12'>Emergencia</ion-select-option>
        </ion-select>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-header color="medium">
      <ion-label>
        <p class="fotos-visita">
          Fotos de incidencia 2
        </p>
      </ion-label>
    </ion-card-header>
    <hr>
    <ion-card-content color="medium">
      <ion-slides [options]="sliderOpts">
        <ion-slide *ngFor="let img2 of imgs2">
          <img src={{img2.imagen}} class="imagen">
          <ion-fab-button padding size="small" (click)="deletePhoto(img2.imagen, 2)"
            *ngIf="img2.imagen != 'assets/img/imgs.png'" color="danger">
            <ion-icon class="delete" name="trash"></ion-icon>
          </ion-fab-button>
        </ion-slide>
      </ion-slides>


      <ion-grid style="text-align: center;">
        <ion-col>
          <ion-button class="btn-camara" [color]="colorIncidencia2" (click)="takePic(2)" [disabled]="!idIncidencia2Selected">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label class="fotos-visita">Evidencia</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>


  <hr> -->

  <ion-card color="medium">
    <ion-card-header color="medium">
      <p>Observaciones</p>
    </ion-card-header>
    <ion-card-content color="medium">
      <ion-item color="medium">
        <ion-textarea [(ngModel)]="observacion" color="light" placeholder="Ingrese observación"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size=12 class="ion-text-center">
        <ion-button color="primary" expand="block" (click)="verify()">Terminar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<app-segment-tab-bar></app-segment-tab-bar>

