<hr>
<hr>
<hr>
<hr>

<ion-content color="medium">

  <ion-card color="medium">
    <ion-card-header style="text-align: center;" color="medium">
      <ion-button (click)="syncFotos()">
        <p style="color: white;">Enviar fotos acciones</p>
        <ion-icon color="success" slot="end" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>

  <hr>
  <ion-virtual-scroll [items]="infoImages">
    <ion-item-sliding color="medium" *virtualItem="let item; let indice = index">
      <ion-item color="medium">

        <ion-thumbnail slot="start">
          <img src={{item.imagenLocal}} tappable (click)="openPreview(item.imagenLocal)">
        </ion-thumbnail>

        <ion-label>
          <p>{{indice + 1}}</p>
          <p style="font-size: 12px;"> <strong>Cuenta: </strong>{{item.cuenta}}</p>
          <p style="font-size: 12px;"><strong>Fecha: </strong>{{item.fecha}}</p>
          <p style="font-size: 12px;"><strong>Tipo: </strong>{{item.tipo}}</p>
          <p style="font-size: 12px;"><strong>Plaza: </strong>{{item.nombre_plaza | titlecase}}</p>
        </ion-label>

      </ion-item>
      <ion-item-options side="start">

        <ion-item-option color="danger" (click)="deletePhoto(item.id,item.rutaBase64)">
          <ion-icon class="trash" slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

      </ion-item-options>
      <ion-item-options side="end">

        <ion-item-option color="primary" (click)="uploadPhoto(item.id)">
          <ion-icon class="upload" slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-virtual-scroll>

</ion-content>


<ion-segment scrollable>
  <ion-segment-button (click)="navegar(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>