<!-- <ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-buttons>
    <ion-button color="success" (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
</ion-buttons>


<ion-content [fullscreen]="true" color="medium">

    <ion-progress-bar color="success" buffer="0.1" [value]="progressTotal"></ion-progress-bar>

    <ion-menu side="start" menuId="first" color="dark" contentId="main">
        <ion-header color="secondary">
            <ion-toolbar color="red">
                <ion-title class="datos"> ERPP Menú </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content color="dark">
            <ion-list class="fondo-gray">
                <ion-item color="dark">

                    <ion-label color="light">
                        <p style="color: white;">
                            Gestiones realizadas
                        </p>
                    </ion-label>
                    <ion-icon color="success" name="hammer" slot="start"></ion-icon>
                </ion-item>
                <ion-item color="dark">

                    <ion-label color="light">
                        <p style="color: white;">
                            Fotos tomadas
                        </p>
                    </ion-label>
                    <ion-icon color="success" name="images-outline" slot="start"></ion-icon>
                </ion-item>

                <ion-item color="dark" (click)="checador()">

                    <ion-label color="light">
                        <p style="color: white;">
                            Checador
                        </p>
                    </ion-label>
                    <ion-icon color="success" name="time" slot="start"></ion-icon>
                </ion-item>

                <ion-item color="dark" (click)="manualWeb()">

                    <ion-label color="light">
                        <p style="color: white;">
                            Manual web
                        </p>
                    </ion-label>
                    <ion-icon color="success" name="book" slot="start"></ion-icon>
                </ion-item>

                <ion-item color="dark" (click)="exit()">

                    <ion-label color="light">
                        <p style="color: white;">
                            Cerrar sesión
                        </p>
                    </ion-label>
                    <ion-icon color="success" name="log-out" slot="start"></ion-icon>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>

    <div id="main">
        <ion-row>
            <ion-col>
                <img [src]="imgAvatar">
            </ion-col>
        </ion-row>


        <ion-card color="medium">
            <ion-card-subtitle color="dark" class="texto-centrado">
                <ion-chip color="success">{{nombre}}</ion-chip>
            </ion-card-subtitle>
            <ion-card-content color="dark">
                <p class="datos"> {{email}} </p>
                <p class="datos"> {{plaza}} </p>
            </ion-card-content>
        </ion-card>

        <hr>

        <div class="texto-centrado">
            <ion-chip color="success">Descarga de información</ion-chip>
        </div>
        

        <hr>
        <div *ngIf="agua">
            <ion-item color="dark" (click)="confirmarDescarga(1)">

                <ion-label color="light">
                    <p style="color: white;">
                        Agua
                    </p>
                </ion-label>
                <ion-icon color="success" name="water" slot="start"></ion-icon>
                <ion-icon *ngIf="descargaAgua" color="success" name="checkmark-done" slot="end"></ion-icon>
            </ion-item>
        </div>

        <div *ngIf="predio" class="descarga">
            <ion-item color="dark" (click)="confirmarDescarga(2)">

                <ion-label color="light">
                    <p style="color: white;">
                        Predio
                    </p>
                </ion-label>
                <ion-icon color="success" name="copy-outline" slot="start"></ion-icon>
            </ion-item>
        </div>

        <div *ngIf="pozos" class="descarga">
            <ion-item color="dark" (click)="confirmarDescarga(3)">

                <ion-label color="light">
                    <p style="color: white;">
                        Pozos
                    </p>
                </ion-label>
                <ion-icon color="success" name="color-fill" slot="start"></ion-icon>
            </ion-item>
        </div>



        <div *ngIf="antenas" class="descarga">
            <ion-item  color="dark" (click)="confirmarDescarga(4)">
                <ion-label color="light">
                    <p style="color: white;">
                        Antenas
                    </p>
                </ion-label>
                <ion-icon color="success" name="git-network-outline" slot="start"></ion-icon>
            </ion-item>
        </div>

        <!-- <ion-item color="dark" (click)="confirmarDescargaPozos()">

            <ion-label color="light">
                <p style="color: white;">
                    Descargar pozos conagua
                </p>
            </ion-label>
            <ion-icon color="success" name="list" slot="start"></ion-icon>
        </ion-item>

        <hr> -->

    </div>




</ion-content>