ion-toolbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar img {
    width: 160px;
    height: 40px;
}

ion-col {
    text-align: center;
    margin-top: 30px;
}

.img-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50% !important;
}

.texto-centrado {
    text-align: center;
}

.datos {
    font-size: 15px;
    text-align: center;
    color: white;
}


#main {
    padding: 0 10%;
}

.descarga {
    margin-top: 20px !important;
}

