
ion-col {
    text-align: center;
    margin-top: 30px;
}

.img-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50% !important;
}

.texto-centrado {
    text-align: center;
}

.datos {
    font-size: 15px;
    text-align: center;
    color: white;
}


#principal {
    padding: 0 10%;
}

.descarga {
    margin-top: 20px !important;
}

ion-item-sliding {
    margin-top: 20px;
}