ion-toolbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar img {
    width: 160px;
    height: 40px;
}

.resumen-cuentas {
    text-align: center;
    margin-top: 10px;
}

.sliding-cuentas {
    background-color: #323332;
}

.contenedor {
    padding: 0 10px;
}

.coincidencia p {
    font-style: italic;
    color: rgb(0,200,0);
    text-align: center;
}

p {
    color: white !important;
    width: 100%;
}

.direccion {
    font-size: 10px;
}

.icon-listado {
    font-size: 30px;
}

.realizada {
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    padding: 0 10px;
    background-color: #1282c4;
    border-radius: 20px;
}

.verificado {
    width: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #11e211;
    border-radius: 10px;
}


ion-segment {
    --background: rgb(37, 64, 97);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}
