<hr>
<hr>
<hr>
<hr>
<hr>

<ion-content [fullscreen]="true" color="medium">



  <div class="resumen-cuentas">
    <ion-chip *ngIf="total" color="secondary">Total: {{total}}</ion-chip>
    <ion-chip color="success">Gestionadas: {{gestionadas}}</ion-chip>
    <ion-chip color="warning">Faltantes: {{total - gestionadas}}</ion-chip>
  </div>

  <ion-searchbar color="light" placeholder="Cuenta, propietario o dirección" animated (ionChange)="find($event)"></ion-searchbar>

  <div class="contenedor">

    <div class="coincidencia" *ngFor="let coincidencia of accountBusqueda; let i = index ">
      <div *ngIf="findText.length > 3 && i == 0">
        <p>Coincidencias: {{(accountBusqueda | filtro:findText).length}} </p>
      </div>
    </div>

    <ion-virtual-scroll [items]="account | filtro : findText">

      <ion-item-sliding *virtualItem="let item" color="white">

        <ion-item-options side="start">

          <ion-item-option color="secondary" (click)="goPanoramaView(item)">
            <ion-icon class="icon-listado" slot="icon-only" name="walk"></ion-icon>
          </ion-item-option>

          <ion-item-option (click)="openLink(item)" color="light">
            <!-- <ion-icon slot="icon-only" name="bicycle"></ion-icon> -->
            <img src="../../assets/img/ruta.png" style="width: 90%; height:60px;" alt="">
          </ion-item-option>

        </ion-item-options>

        <ion-item color="medium">
          <ion-label>
            <p>
              <ion-chip color="success">Cuenta: {{item.cuenta}} </ion-chip>
            </p>
            <p color="light" class="border">Propietario: {{item.propietario}}</p>
            <p color="light" class='border direccion'>Dirección: {{item.direccion}}</p>
            <p color="light" class='border'>Deuda:{{item.total | currency:'USD':'symbol' }}</p>
            <p color="light" class='border'>Proceso: {{item.proceso_gestion}} </p>
            <p *ngIf="item.gestionada == 1" class="realizada">Realizada</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">

          <ion-item-option color="tertiary" (click)="gestionarCuenta(item)">
            <ion-icon class="icon-listado" slot="icon-only" name="reader-outline"></ion-icon>
          </ion-item-option>

        </ion-item-options>

      </ion-item-sliding>
    </ion-virtual-scroll>
  </div>
</ion-content>

<ion-segment scrollable>
  <ion-segment-button (click)="navegar(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>