ion-toolbar {
    height: 100px;
    text-align: center;
}

.resumen-cuentas {
    text-align: center;
    margin-top: 10px;
}

.sliding-cuentas {
    background-color: #323332;
}

.contenedor {
    padding: 0 10px;
}

p {
    color: white !important;
}

.direccion{
    font-size: 12px;
}

.realizada {
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    padding: 0 10px;
    background-color: #1282c4;
    border-radius: 20px;
}