<ion-header>
  <ion-toolbar color="medium">
    <img src="../../assets/img/logo.png" alt="" style="height: 100px; width :200">
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <div class="resumen-cuentas">
    <ion-chip *ngIf="total" color="secondary">Total</ion-chip>
    <ion-chip color="success">Gestionadas</ion-chip>
    <ion-chip color="danger">Faltantes</ion-chip>
  </div>

  <ion-searchbar placeholder="Busqueda por cuenta" (ionChange)="find( $event )"></ion-searchbar>
  <div class="contenedor">
    <ion-item-sliding color="white" *ngFor="let cuenta of account">

      <ion-item-options side="start">

        <ion-item-option color="secondary" (click)="goPanoramaView(cuenta)">
          <ion-icon slot="icon-only" name="walk"></ion-icon>
        </ion-item-option>

        <ion-item-option (click)="openLink(cuenta)" color="success">
          <ion-icon slot="icon-only" name="bicycle"></ion-icon>
        </ion-item-option>

      </ion-item-options>

      <ion-item color="dark">
        <ion-label>
          <p>
            <ion-chip color="success">Cuenta: {{cuenta.cuenta}} </ion-chip>
          </p>
          <p color="light" class="border">Propietario: {{cuenta.nombre_propietario}}</p>
          <p color="light" class='border direccion'>Dirección: {{cuenta.direccion}}</p>
          <p color="light" class='border'>Deuda:{{cuenta.adeudo | currency:'USD':'symbol' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">

        <ion-item-option color="tertiary" (click)="gestionarCuenta(cuenta.cuenta)">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </div>
</ion-content>