ion-toolbar {
    height: 100px;
    text-align: center;
}

.resumen-cuentas {
    text-align: center;
    margin-top: 10px;
}

.sliding-cuentas {
    background-color: #323332;
}

.contenedor {
    padding: 0 10px;
}

p {
    color: white !important;
}