<ion-header class="header" style="z-index: 1 !important;" no-border>
  <ion-toolbar style="z-index: 0 !important;" color="medium">
    <ion-buttons>
      <ion-button color="medium">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img style="margin-right: 25px;" src="../../assets/img/sero_sin_letras.png" slot="end" alt="">
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <div class="titulo">
    <h1> Supervisión de gestor </h1>
  </div>


  <ion-item *ngFor="let gestor of gestores" color="medium" style="margin-bottom: 10px;" (click)="showMessageInitProcess(gestor)">
    <ion-avatar slot="start">
      <img [src]="gestor.foto" />
    </ion-avatar>
    <ion-label color="light"> {{ gestor.nombre }} {{ gestor.apellido_paterno }} {{ gestor.apellido_materno }}</ion-label>
  </ion-item>


</ion-content>