<ion-content color="medium">
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>

  <div style="text-align: center;">
    <h3>Notificaciones</h3>
    <ion-icon class="icono-titulo" name="notifications-outline"></ion-icon>
  </div>

  <ion-card *ngFor="let push of pushNotifications, let i = index">
    <ion-card-subtitle class="subtitle">{{i + 1 }}</ion-card-subtitle>
    <div *ngIf="push.url_img !== 'none'" class="img-titulo">
      <img [src]="push.url_img" alt="imagen notificacion">
    </div>
    <ion-card-header>
      <ion-card-title class="title">{{push.titulo_push}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content">
      {{push.mensaje}}
    </ion-card-content>
    <ion-button color="warning" class="button-delete-push" (click)="deletePush(push.id_push_notification)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <div *ngIf="pushCargadas && pushNotifications.length === 0" class="sin-notificaciones">
    <h3>No tienes notificaciones...</h3>
    <h3>😔😔😔</h3>
  </div>

</ion-content>


<app-segment-tab-bar></app-segment-tab-bar>