<hr>
<hr>
<hr>
<hr>
<ion-content>
  <!-- <ion-input placeholder="Buscar por cuenta" [(ngModel)]="accountString"></ion-input> -->

  <ion-toolbar>
    <ion-input placeholder ="Buscar por cuenta" [(ngModel)]="accountString"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="find()" >
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>

  <div class="map" id="map_canvas"></div>
</ion-content>



<ion-segment scrollable>
  <ion-segment-button (click)="navegar(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>