<hr>
<hr>
<hr>
<hr>
<ion-content>
  <!-- <ion-input placeholder="Buscar por cuenta" [(ngModel)]="accountString"></ion-input> -->

  <ion-toolbar>
    <ion-input placeholder="Buscar por cuenta" [(ngModel)]="accountString"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="find()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="map" id="map_canvas"></div>
</ion-content>



<app-segment-tab-bar></app-segment-tab-bar>