<ion-header no-border>
    <ion-toolbar color="medium">
        <img src="../../assets/img/logo.png" alt="" style="height: 100px; width :200">
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">


    <ion-card color="medium">
        <ion-card-subtitle color="dark" class="texto-centrado">
            <ion-chip color="success">¿Que quieres gestionar?</ion-chip>
        </ion-card-subtitle>
    </ion-card>

    <ion-card color="dark" (click)="irAgua()">
        <ion-card-header>
            <ion-icon color="success" name="water"></ion-icon>
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Agua</h3>
        </ion-card-content>
    </ion-card>

    <ion-card color="dark" (click)="irPredio()">
        <ion-card-header>
            <ion-icon color="success" name="copy-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Predio</h3>
        </ion-card-content>
    </ion-card>

    <ion-card color="dark" (click)="irAntenas()">
        <ion-card-header>
            <ion-icon color="success" name="git-network-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Antenas</h3>
        </ion-card-content>
    </ion-card>

    <ion-card color="dark" (click)="irPozos()">
        <ion-card-header>
            <ion-icon color="success" name="color-fill"></ion-icon>
        </ion-card-header>
        <ion-card-content color="dark">
            <h3>Pozos</h3>
        </ion-card-content>
    </ion-card>



</ion-content>