<hr>
<hr>
<hr>
<hr>

<div id="map_canvas"></div>

<ion-content color="medium">

  <div class="buttons-checador">
    <div (click)="confirmar(1)"  style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="alarm-outline"></ion-icon>
      Entrada
    </div>
    <div (click)="confirmar(3)" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="pizza-outline"></ion-icon>
      Salida comer
    </div>
    <div (click)="confirmar(4)"  style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="pause-outline"></ion-icon>
      Regreso comer
    </div>
    <div (click)="confirmar(2)" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="walk-outline"></ion-icon>
      Salida
    </div>
    <div (click)="getAsistencias()" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="copy-outline"></ion-icon>
      Historial
    </div>
    <div (click)="regresarPrincipal()" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="caret-back-outline"></ion-icon>
      Regresar
    </div>
  </div>




</ion-content>


<app-segment-tab-bar></app-segment-tab-bar>