<hr>
<hr>
<hr>
<hr>

<div id="map_canvas"></div>

<ion-content color="medium">

  <div class="buttons-checador">
    <div (click)="confirmar(1)"  style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="alarm-outline"></ion-icon>
      Entrada
    </div>
    <div (click)="confirmar(3)" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="pizza-outline"></ion-icon>
      Salida comer
    </div>
    <div (click)="confirmar(4)"  style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="pause-outline"></ion-icon>
      Regreso comer
    </div>
    <div (click)="confirmar(2)" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="walk-outline"></ion-icon>
      Salida
    </div>
    <div (click)="getAsistencias()" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="copy-outline"></ion-icon>
      Historial
    </div>
    <div (click)="regresarPrincipal()" style="background-color: rgba(14, 155, 237, 0.9);">
      <ion-icon class="icon-checador" name="caret-back-outline"></ion-icon>
      Regresar
    </div>
  </div>




</ion-content>


<ion-segment scrollable>
  <ion-segment-button (click)="navegar(1)">
    <ion-icon color="light" name="home"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Inicio</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(2)">
    <ion-icon color="light" name="layers"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Cuentas</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(3)">
    <ion-icon color="light" name="map"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>Mapa</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(4)">
    <ion-icon color="light" name="warning"></ion-icon>
    <ion-label color="light" style="font-size:2px"><small>S.Públicos</small></ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="navegar(5)">
    <img src="../../../assets/img/sos.png" style="width: 30px; height: 30px; margin-bottom: -15px; " alt="">
    <ion-label color="light" style="font-size:3px; margin-bottom: -1px;"><small>S.O.S.</small></ion-label>
  </ion-segment-button>
</ion-segment>