ion-segment {
    --background: rgb(37, 64, 97);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    margin-bottom: -5px;
}

ion-segment-button {
    --indicator-color: transparent !important;
}

#map_canvas {
    height: 63%;
    width: 100%;
}


.buttons-checador {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-checador div {
    width: 30%;
    text-align: center;
    padding: 10px 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-checador {
    font-size: 30px;
    color: white;
}