<div *ngIf="activaCard">
  <ion-card color="medium">
    <ion-card-content>

      <div style="text-align: center; margin:15 0px 0 20;">
        <ion-chip color="success">Preferencia Electoral</ion-chip>
      </div>

      <!-- 3.1 -->
      <ion-item color="medium" style="text-align: center;">
        <ion-text>
          <p>
            3.1 - ¿Si el día de hoy fueran elecciones en el ESTADO DE MÉXICO, ¿por qué partido votaría?
          </p>
          <app-select-partidos [idPartidoPolitico] = "idVotoPartidoPoliticoEstadoMexico" (sendIdPartido)="idVotoPartidoPoliticoEstadoMexico = $event"></app-select-partidos>
        </ion-text>
      </ion-item>
      <hr>

      <!-- 3.2 -->
      <ion-item color="medium">
        <ion-text>
          <p>
            3.2 - Si el día de hoy hubiera elecciones en el ESTADO DE MÉXICO, y hubiera una alianza entre partidos,
            resultando en sólo dos opciones:
          </p>
          <p>1. PRI, PAN, PRD Y NUEVA ALIANZA</p>
          <p>2. MORENA, PARTIDO VERDE Y PARTIDO DEL TRABAJO</p>
          <p>
            ¿Por cuál votaría?
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
              [(ngModel)]="idAlianzaVotoEstadoMexico">
              <ion-select-option *ngFor="let alianza of alianzasPoliticas" [value]="alianza.id_alianza_politica">{{alianza.nombre_alianza_politica}}</ion-select-option>
            </ion-select>
          </p>
        </ion-text>
      </ion-item>
      <hr>


      <!-- 3.3 -->
      <ion-item color="medium" style="text-align: center;">
        <ion-text>
          <p>
            3.3 - Si el día de hoy fueran elecciones en el MUNICIPIO, ¿por qué partido votaría?
          </p>
          <app-select-partidos [idPartidoPolitico] = "idVotoPartidoPoliticoMunicipio" (sendIdPartido)="idVotoPartidoPoliticoMunicipio = $event"></app-select-partidos>
        </ion-text>
      </ion-item>
      <hr>

      <!-- 3.4 -->
      <ion-item color="medium">
        <ion-text>
          <p>
            3.4 - Si el día de hoy hubiera elecciones en el MUNICIPIO, y hubiera una alianza entre partidos, resultando
            en
            sólo dos opciones:
          </p>
          <p>1. PRI, PAN, PRD Y NUEVA ALIANZA</p>
          <p>2. MORENA, PARTIDO VERDE Y PARTIDO DEL TRABAJO</p>
          <p>
            ¿Por cuál votaría?
          </p>
          <p>
            <ion-select class="myCustomSelect" interface="action-sheet" placeholder="Selecciona uno"
              [(ngModel)]="idAlianzaVotoMunicipio">
              <ion-select-option *ngFor="let alianza of alianzasPoliticas" [value]="alianza.id_alianza_politica">{{alianza.nombre_alianza_politica}}</ion-select-option>
            </ion-select>
          </p>
        </ion-text>
      </ion-item>

      <!-- 3.5 -->
      <ion-item color="medium" style="text-align: center;">
        <ion-text>
          <p>
            3.5 - Si el día de hoy fueran elecciones en el PAÍS, ¿por qué partido votaría?
          </p>
          <app-select-partidos [idPartidoPolitico] = "idVotoPartidoPoliticoPais" (sendIdPartido)="idVotoPartidoPoliticoPais = $event"></app-select-partidos>
        </ion-text>
      </ion-item>
      <hr>

    </ion-card-content>
  </ion-card>
</div>




<ion-grid *ngIf="activaCard">
  <ion-row>
    <ion-col size=12 class="ion-text-center">
      <ion-button shape="round" color="primary" expand="block" (click)="completeCard()">Guardar preferencia
        electoral</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="activaCard === false">
  <ion-row>
    <ion-col size=12 class="ion-text-center">
      <ion-button fill="outline" shape="round" color="secondary" expand="block" (click)="showCard()">Mostrar preferencia
        electoral</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>